<div class="chat-list">
  <div class="chat-item" *ngFor="let user of users" (click)="selectUser(user)">

    <div class="chat-info">
      <div class="top-row">
        <span class="name">{{ user.firstName }} {{ user.lastName }}</span>
        <span class="time">{{ user.time }}</span>
      </div>

      <div class="bottom-row">
        <span class="message">{{ user.Messages[user.Messages.length - 1] }}</span>
        <!-- <span *ngIf="user.unread" class="badge">
          {{ user.unread }}
        </span> -->
      </div>
    </div>
  </div>
</div>