<mat-toolbar class="topbar">

  <!-- LEFT: Blue Material button -->
  <button
    mat-raised-button matButton="outlined" color="primary">
    Log out
  </button>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- CENTER -->
  <div class="center-title">
    <span class="label">LOGGED IN AS</span>
    <span class="name">{{ fullName }}</span>
  </div>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- RIGHT: Clickable initials button -->
<button
    mat-raised-button
    color="primary">
    {{initials}}
  </button>

</mat-toolbar>

